.home_nav {
	position: fixed;
	top: 0;
	left: 0;
	background-color: white;
	box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1),
		-1px -1px 1px rgba(0, 0, 0, 0.1);
	height: 100%;
	padding: 20px 15px;
	display: flex;
	flex-direction: column;
	gap: 32px;
	width: max-content;
	min-width: max-content;
}

.home_nav a::before {
	content: '';
	position: absolute;
	transition: 0.1s ease-in-out;
	left: 0;
	bottom: -5px;
	width: 0;
	height: 4px;
	background-color: rgb(225, 0, 200);
}

.home_nav a:hover::before {
	width: 100%;
}

.home_nav a {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 4px;
	font-size: clamp(1rem, 1.1vw, 2.5rem);
	font-weight: bold;
	border-radius: 16px;
	position: relative;
	cursor: pointer;
	height: 30px;
}

.home_nav a > span {
	position: absolute;
	left: 60px;
	background-color: black;
	color: white;
	padding: 4px 10px;
	border-radius: 12px;
	font-size: clamp(0.9rem, 0.8vw, 1.2rem);
}

.home_nav img {
	width: 27px;
	height: 27px;
	filter: invert(1) grayscale(1) contrast(100%) brightness(0);
}

.home_nav a.active::before {
	content: '';
	width: 100%;
	height: 4px;
	background-color: rgb(225, 0, 200);
}
