.postDataContainer {
	position: relative;
}

.accountSearchContainer {
	position: absolute;
	right: 400px;
	top: 25px;
	padding: 8px 16px;
	border-radius: 24px;
	height: max-content;
	min-width: 500px;
	max-width: 800px;
	background-color: black;
	border: 1px solid rgba(255, 0, 255, 0.2);
	z-index: 998;
}

.accountSearchContainer > input {
	width: 100%;
	font-size: clamp(1rem, 1.1vw, 2rem);
}

.postDataContainer > div:nth-child(1) span:hover {
	background-color: rgb(255, 0, 255);
	color: #fff;
}

.toolbarIcons {
	display: flex;
	gap: 1rem;
	align-items: center;
	height: 100px;
	margin-left: 100px;
}

.toolbarIcons span {
	font-size: clamp(1rem, 1.2vw, 1.5rem);
	color: white;
	cursor: pointer;
	padding: 0.5rem 1rem;
	border-radius: 8px;
	transition: background-color 0.3s ease, color 0.3s ease;
}
